* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.container {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-family:'Noto Sans JP', sans-serif;
    overflow-x:hidden;
    padding-top:80px;
  }

  .navigationBar {
    position:fixed;
    z-index:10;
    top:0;
    left:0;
    opacity:0.96;
    text-align:right;
    background:linear-gradient(rgb(255, 255, 255) 0%,rgb(251, 251, 251) 47%,rgb(247, 254, 255) 100%);
    width:100%;
    min-height:80px;
    padding:10px;
    border-bottom:2px solid rgb(207, 223, 241);
}

.navigationBar img {
    position:absolute;
    top:0px;
    height:100%;
    width: 22.5em;
    left:6em;
    background:transparent;
    cursor:pointer;
}

.navigationBar button {
    position:relative;
    background:none;
    border:none;
    color:rgb(82, 98, 129);
    text-shadow:2px 2px 5px rgb(202, 202, 202);
    margin-top:14px;
    font-size:23px;
    margin-right:8%;
    cursor:pointer;
    transition:0.5s;
}

.navigationBar a {
    text-decoration:none;
    color:rgb(82, 98, 129);
    transition:0.5s;
}

.navigationBar button:hover {
    color:rgb(82, 130, 226);
    text-shadow:2px 2px 5px rgb(236, 174, 174);
}

.navigationBar a:hover {
    color:rgb(82, 130, 226);
    text-shadow:2px 2px 5px rgb(236, 174, 174);
}

.navigationBar .downArrow {
    width:16px;
    height:auto;
    margin-top:20px;
}

.navigationBar .dropdown {
    position:relative;
    display:inline;
    overflow: hidden;
    text-align:center;
    padding:40px 0;
  }

.dropdown-content {
    display: inline-block;
    position: absolute;
    top:103px;
    right:-8.5%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height:0;
    font-size:0px;
    pointer-events:none;
    transition:0.3s;
  }

.dropdown-content a {
    float: none;
    color:rgb(81, 81, 131);
    padding: 12px 20px;
    text-decoration: none;
    text-shadow:1px 1px 3px rgb(195, 195, 195);
    display: block;
    text-align: center;
    transition:background-color 0.5s;
  }
  
.dropdown-content a:hover {
    background-color: rgb(233, 233, 233);
  }
  
.dropdown.active .dropdown-content {
    height:145px;
    border-bottom:2px solid lightblue;
    background:linear-gradient(rgb(234, 248, 255) 0%,rgb(247, 248, 248) 47%,rgb(251, 251, 251) 100%);
    font-size:16px;
    pointer-events:all;
}

.dropdown.active .dropdown-content a {
    border-bottom:2px solid lightblue;
}

.introDiv {
    position:relative;
    display:inline-block;
    width:100%;
    padding:2rem 2rem 0 2rem;
    background:linear-gradient(rgb(234, 248, 255) 0%,rgb(242, 247, 248) 47%,rgb(239, 246, 248) 100%);
    border-bottom: 10px black gray; 
}

.introDiv .introContainer {
    position:absolute;
    padding:3% 1rem;
    width:45%;
}

.introContainer .introHeader {
    font-family:'Rokkitt', serif;
    font-size:60px;
    font-weight:800;
    padding:2rem 0;
    text-shadow:2px 2px 3px rgb(180, 180, 180);
    color:rgb(6, 6, 88);
}

.introContainer .introSub {
    font-size:23px;
    font-weight:900;
    padding-bottom:1.5rem;
    text-shadow:1px 1px 5px rgb(180, 180, 180);
}

.introContainer .introBody {
    font-size:20px;
    text-shadow:1px 1px 1px rgb(180, 180, 180);
}

.introDiv .menuImg {
    width:750px;
    height:auto;
    margin-left:50vw;
    animation: slideLeft 2s ease-in-out;
}

.serviceDiv {
    position:relative;
    display:inline-block;
    width:100%;
    height:580px;
    top:-5px;
    padding:2rem 1rem;
    background:linear-gradient(rgb(239, 246, 248) 0%,rgb(255, 249, 249) 47%,rgb(255, 245, 245) 100%);
    border-top:5px solid rgb(194, 194, 194);
}

.serviceDiv .serviceContainer {
    position:absolute;
    margin-left:700px;
    padding:2rem 0;
    width:45%;
}

.serviceContainer .serviceHeader {
    font-family:'Rokkitt', serif;
    font-size:60px;
    font-weight:900;
    padding:0.8rem 0;
    text-shadow:3px 3px 5px rgb(180, 180, 180);
    color:rgb(6, 6, 88);
}

.serviceContainer .serviceSub {
    font-family:'Rokkitt', serif;
    font-size:28px;
    font-weight:900;
    padding-bottom:0.8rem;
    padding-top:0.3em;
    text-shadow:1px 1px 1px rgb(180, 180, 180);
}

.serviceContainer .serviceBody {
    font-size:18px;
}

.serviceDiv .serviceImg {
    float:left;
    width:600px;
    height:auto;
    padding:2em 0;
}

.contactDiv {
    position:relative;
    text-align:center;
    width:100%;
    height:200px;
    top:-10px;
    padding:2rem 0rem;
    background:linear-gradient(rgb(255, 245, 245) 0%,rgb(255, 249, 249) 47%,rgb(255, 255, 255) 100%);
    border-top:5px solid rgb(194, 194, 194);
}

.contactDiv .contactContainer {
    display:inline-table;
    text-align:left;
    padding:0.3rem 0rem;
    width:200px;
}

.contactHeader {
    font-family:'Rokkitt', serif;
    font-size:50px;
    font-weight:900;
    padding-bottom:0.8rem;
    text-shadow:3px 3px 5px rgb(180, 180, 180);
    color:rgb(6, 6, 88);
}

.contactContainer .contactBody {
    padding:0.7rem 0;
    position:relative;
    font-size:18px;
}

.contactContainer .contactImg {
    position:absolute;
    width:30px;
    height:auto;
    left:-45px;
}

button {
    position:absolute;
    top:30%;
    left:6%;
    font-family: 'Roboto', serif;
    font-size:25px;
    font-weight:300;
    color:white;
    background:none;
    border: 3px solid white;
    padding:12px;
}

  footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    margin-left: 0.5rem;
  }

  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #uploader {
      -webkit-appearance: none;
      appearance:none;
      width:50%;
      margin-bottom:10px;
  }

  @keyframes slideLeft {
      from { 
            opacity: 0;
            margin-left:65vw
        }
        to {
            opacity: 1;
            margin-left: 50vw
        }
  }

  @media only screen and (max-width:1520px) {

    .introDiv {
        padding-top:0;
    }

    .introDiv .introHeader {
        font-size:40px;
    }

    .introDiv .introSub {
        font-size:18px;
    }

    .introDiv .introBody {
        font-size:16px;
    }
      .introDiv .menuImg {
          width:600px;
      }
  }